<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            margin:0px;
            padding:0px;
        }
        body {
            font: 12px "굴림", Gulim;
            width:300px; margin:10px;
        }
        p {
            text-align: justify;
        }
        p span {
            float:right;
            font-size:250%;
            border: 3px dotted orange;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>담배는 몸에 안좋아</h1>
    <p>
        담배는 몸에 안좋은데
        사람들이 왜 찾는지
        담배를 피지 않는 입장으로서는
        모르겠습니다.
        <span><img src="../studylayout/담배.jpg"></span>
        안 되는 일이지만, 애연가들 덕분에 그들과 더불어
        원하지 않는 죽어가는 많은 사람들의 넋은 누가 
        달래야 할 것인가.
    </p>
</body>
</html>